body {
	background-image:url('../img/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color:#cccccc;

	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

/* header formatting */
h1, h4 {
	text-align: center;
	font-size: 80px;
	padding-top: 30px;
	padding-bottom: 0px;
	margin-bottom:0px;
}

h3 {
	padding:10px;
}

h4 {
	font-size: 10px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 40px;
}

p {
	font-size: 17px;
}

/* link formatting */
a:link{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: underline;
	color: white;
}

a:visited{
	text-decoration: none;
	color:white;
}

/* background colors */
.blue {
	background-color: #3bbec0;
}

.yellow {
	background-color: #ebc85e;
	color: black;
}

.red {
	background-color: #e87352;
	margin-bottom: 2px;
}

.green {
	background-color: #3bbec0;
	margin-bottom: 2px;
}

.edit {
	margin: 2px;
	margin-left: 15px;
	background-color: #2e9597;
}

.dark_red {
	background-color: #cd684c;
}

/* list formatting */
ul {
	margin: 0px;
	padding: 0px;
}

li{
	list-style-type: none;
	padding: 10px;
	padding-top: 1px;
	margin: 0px;
	margin-bottom: 2px;
}

li.message{
	background-color: rgba(255,255,255,0.5);
	color: black;
}

li.sch_msg{
	background-color: rgba(255,255,255,0.5);
}

p.schedule{
	padding: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin: 2px;
	color: black;
}

/* form styling */
input[type=submit], .fake_login {
    color:black;
    background-color:rgba(255,255,255, 0.5);
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    border: 0px;
}

#login_header {
	font-size: 100px;
	text-align: center;
}

#login_form {
	text-align: center;
	font-size: 30px;
}

/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
	background:transparent;		/* right column background colour */
}
.threecol .colmid {
	right:25%;			/* width of the right column */
	background:transparent;		/* center column background colour */
}
.threecol .colleft {
	right:50%;			/* width of the middle column */
	background:transparent;	/* left column background colour */
}
.threecol .col1 {
	width:46%;			/* width of center column content (column width minus padding on either side) */
	left:102%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:21%;			/* Width of left column content (column width minus padding on either side) */
	left:31%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:21%;			/* Width of right column content (column width minus padding on either side) */
	left:85%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}
